body {
    margin: 0;
    height: 500vh; /* Erhöhte Höhe für Scrollen */
    overflow-x: hidden;
}

.container {
    height: 100vh; /* Volle Höhe für die Cube-Container */
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; /* Perspektive für 3D-Effekt */
}

/* Pixel Background Styling */
#pixel-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

.pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.8;
    transform-style: preserve-3d;
    border-radius: 3px;
}

.footer {
    background: #33333300;
    height: 50px;
    color: #fff;
    bottom: -50px; /* Anfangs außerhalb des Sichtbereichs */
    width: 100%;
    z-index: 1000;
    position: fixed; /* Starten Sie den Footer in der Position fixed */
    overflow: hidden; /* Verhindert Überlauf der Pixel */
}

.footer-pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #00FF00; /* Farbe der Pixel im Footer */
    opacity: 0.8;
    border-radius: 3px;
}
