body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar {
    background: #333;
    color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

#home {

}

#about {
    background: #e2e2e2;
}

#resume {
    background: #d1d1d1;
}

#projects {
    background: #c0c0c0;
}

#contact {
    background: #b0b0b0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 40px 20px;
    }
}

#pixel-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Verhindert, dass Pixel mit UI-Elementen interagieren */
    overflow: hidden;
    z-index: -1; /* Pixel im Hintergrund halten */
}

.pixel {
    position: absolute;
    width: 10px;  /* Erhöhe die Größe ein wenig für mehr Sichtbarkeit als Würfel */
    height: 10px;
    background-color: red; /* Wird durch JS überschrieben */
    opacity: 0.8;
    transform-style: preserve-3d;  /* Ermöglicht 3D-Transformationen */

    border-radius: 3px; /* Optionale Rundung, um den Cube weicher aussehen zu lassen */
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}