<header class="glassmorphism-header">
    <nav>
      <div class="menu-items">
        <a href="#home" class="active">
          <div class="pixel-header-attribute"></div>
          Home
        </a>
        <a href="#about">
          <div class="pixel-header-attribute"></div>
          About
        </a>
        <a href="#projects">
          <div class="pixel-header-attribute"></div>
          Projects
        </a>
        <a href="#contact">
          <div class="pixel-header-attribute"></div>
          Contact
        </a>
      </div>
      <div class="theme-dropdown">
        <button class="theme-dropdown-btn">Theme</button>
        <div class="theme-dropdown-content">
          <a href="#" data-theme="default">Default</a>
          <a href="#" data-theme="dark">Dark</a>
          <a href="#" data-theme="monochromatic">Monochromatic</a>
          <a href="#" data-theme="vaporwave">Cyberpunk</a>
          <a href="#" data-theme="colorful">Colorful</a>
          <a href="#" data-theme="pastel">Pastel</a>
        </div>
      </div>
    </nav>
  </header>
<div class="header-pixel-container"></div>